.sidebar-section {
  display: flex;
}
.sidebar {
  height: 100vh;
  background-color: var(--primary-color);
  width: 90px;
  position: fixed;
}
.sidebar-toggle {
  width: 200px;
}
.sidebar-toggle-icons {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.sidebar-toggle-icons p svg {
  background-color: var(--secondary-color);
  color: white;
  margin-top: 30px;
}
.clock{
  color: white;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
}
.clock h5 {
  margin: 0;
}